/* CSS for AnimeListAndDetails component */

/* Styling for the container */
div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.title {
  color: black;
}   

/* Styling for the card container */
.card-container {
  display: flex;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the card title */
.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styling for the anime image */
.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Styling for the date section */
.date {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.start-date::before {
  content: "Start Date: ";
}

.updated-date::before {
  content: "Updated Date: ";
}

/* Styling for the status section */
.status {
  font-size: 14px;
  font-weight: bold;
  color: #0088cc;
  margin-top: 10px;
}

/* Styling for the episode count section */
.episode-count {
  font-size: 14px;
  margin-top: 5px;
}

/* Styling for the episode length section */
.episode-length {
  font-size: 14px;
  margin-top: 5px;
}

/* Styling for the total length section */
.total-length {
  font-size: 14px;
  margin-top: 5px;
}

/* Styling for the synopsis and description sections */
.synopsis {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}
